body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.profile-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-card h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-card p {
    color: #777;
    margin: 10px 0;
}

.profile-card a {
    color: #32CD32;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.profile-card a:hover {
    text-decoration: underline;
}
